@import url('https://fonts.googleapis.com/css2?family=Poppins&family=Roboto&display=swap');

*,
*::before,
*::after{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body{
    font-family: 'Roboto', sans-serif;
    height: 100vh;
    width: 100%;
    
    background: linear-gradient(#68EACC 0%, #497BE8 100%);
    display: flex;
    place-items: center;
}

.main-container{
    margin: 120px auto;
    max-width: 400px;
    width: 100%;
    background: #fff;
    border-radius: 5px;
    padding: 25px;
}

.main-container .header__title{
    font-size: 30px;
    font-weight: 600;
}

.content .add-todo{
    display: flex;
    height: 45px;
    width: 100%;

    margin: 20px 0;
}

.add-todo input{
    width: 85%;
    height: 100%;

    border: 1px solid #ccc;
    border-radius: 3px;
    
    font-size: 17px;
    padding: 15px;
}

.add-todo button{
    width: 60px;
    height: 100%;
    border: none;
    margin-left: 5px;
    outline: none;
    background: #8e49e8;

    border-radius: 3px;

    font-size: 22px;
    cursor: pointer;
    color: #fff;

    opacity: 0.6;
    pointer-events: none;
}

.add-todo button.active{
    opacity: 1;
    pointer-events: auto;
}

.main-container .todo-list{
    max-height: 250px;
    overflow-y: auto;
}

.todo-list li{
    list-style: none;
    height: 45px;
    line-height: 45px;
    position: relative;
    background: #f2f2f2;
    margin-bottom: 8px;
    padding: 0 15px;
    cursor: default;
    overflow: hidden;
}

.todo-list li span{
    position: absolute;
    right: -45px;
    color: #fff;
    width: 45px;
    text-align: center;
    border-radius: 0 3px 3px 0;
    background-color: red;
    cursor: pointer;

    transition: right 200ms ease-in;
}

.todo-list li:hover span{
    right: 0px;
}

.main-container .footer{
    display: flex;
    width: 100%;
    margin-top: 20px;
    justify-content: space-between;
    align-items: center;
}

.footer button{
    border: none;
    outline: none;
    background: #8e49e8;

    border-radius: 3px;
    padding: 6px 10px;

    font-size: 16px;
    cursor: pointer;
    color: #fff;

    transition: all .2s ease-in-out;
    opacity: 0.6;
    pointer-events: none;
}

.footer button.active{
    opacity: 1;
    pointer-events: auto;
}

.footer button:hover,
.footer button:focus{
    background: #f2f2f2;
    color: #8e49e8;
}